@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/*................Header...........*/

.logo  {
   height: 80px;
    width: 140px;
   
}

.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    z-index: 2;
}
.nav-link {
   
    font-weight: bold;
}
.navbar-collapse {
    background: white;
}



/*................body...........*/
body {
    font-family: 'Roboto', sans-serif;
    
}
.jumbotron{
    background-color: transparent;
}
.overlay  {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}
.about-hps{
    margin-top: 5rem !important;
}

.about h4{
    position: relative;
    z-index: 1;
    color: white;
}
.about-container{
     
    font-weight: 700;
    
    background: url("../images/service3.jpeg") no-repeat bottom right fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

}


.reasons-p {
    font-weight: 700;
    color: #525252;
}
h4,h3   {
    
    position: relative;
    z-index: 1;
    color: #e84610;
    letter-spacing: 1px;
}
/*................Bottons...........*/
.btn-cta {
    font-weight: bold;
    border-radius: 20px;
    width: 100px;
    
}
.btn-org {
    color: white;
    background-color: #e84610;
   
}
/*------------------------------------Footer*/
.social-link li a i {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #525252;
    padding: 8px 0;
    text-align: center;
    font-size: 30px;
    color:  white;    
    text-align: center;
    
    transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;

}
.social-link li a i:hover {
    background-color:#e84610;
}
footer {
    padding-top: 35px;
}
/*.............Services.........*/

.services-img {
    background: url("../images/serv-top.jpg") no-repeat bottom right;
    width: 100%;
    height:200px ;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.services-content {
    margin-top: 120px;
    margin-bottom: 50px;
}
.services-row {
    padding-bottom: 25px;
    color: #525252;
    font-size: large;
    letter-spacing: 1px;
}
.services-row span {
    font-weight: 700;
    color: #e84610;
}
/*----------Contacts--------------*/

.contacts-photo {
    background: url("../images/engineer.png") no-repeat bottom right;
    
        height: 300px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        
    }

.slogan {
    margin: 2rem auto;
    color: #525252;
}
.card-text {
    color: #e84610;
}
.card-title {
    color: #525252;
}