@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/*................Header...........*/

header {
    margin: 0;
}
.logo {
     height: 80px;
     width: 80px;
     object-fit: cover; 
     margin-left: 20px;
     margin-top: 20px;
      

}
.title {
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    text-align: center;
    color: #f2761a;
    letter-spacing: 2px;
}